<!DOCTYPE html>
<html>
    <head>
	<link href="{{url_for('static', filename='bulma.css')}}" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8" />
	<title>{{app_name}}</title>
    </head>

    <body>
	    <h1>{{title}}</h1>
	    <center>
		<table>
		    {%for items in display_list%}
		    <tr>
			    {%for item in items%}
		    	    <td>{{item}}</td>
			    {%endfor%}
		    </tr>
		    {%endfor%}
		</table>
		<form action='/'>
			<input type='submit' value='{{button_label}}' />
		</form>
	    </center>
    </body>
</html>

