<!DOCTYPE html>
<html>
    <head>
	<link href="{{url_for('static', filename='bulma.css')}}" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8" />
	<title>{{app_name}}</title>
    </head>

    <body>
	    <h1>{{title}}</h1>
	    <ul class='flex-container'>
		    {%for option in options%}
		    <li class='flex-item'>{{option.split(':')[0]}} : <form action='/{{option.split(':')[1]}}'><input type='submit' value='{{option.split(':')[2]}}' /></form></li>
		    {% endfor %}
    	   </ul>
    </body>
</html>

