<!DOCTYPE html>
<html>
    <head>
	<link href="{{url_for('static', filename='bulma.css')}}" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8" />
	<title>{{app_name}}</title>
    </head>

    <body>
	<section class="hero is-fullheight is-dark">
    <div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item" href="../index.html">
               	{{title}}
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
		 {%for option in options%}
		 <span class="nav-item">
			<a class="button is-default" href='{{option.split(':')[1]}}'>
		    	{{option.split(':')[0]}}
			</a>
              	    </span>
		    {% endfor %}
            </div>
          </div>
        </nav>
      </div>
    </div>
	</section>

    </body>
</html>

